language: java
jdk: openjdk8

script:
- mvn validate
- mvn install
env:
  - COMMIT=${TRAVIS_COMMIT::8}
after_success:
  #- bash <(curl -s https://codecov.io/bash
  - docker login -u="$DOCKER_USER" -p="$DOCKER_PASS"
  - export REPO=servicecatalog/oscm-soap-mock
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - docker build -f Dockerfile -t $REPO:$COMMIT .
  - docker tag $REPO:$COMMIT $REPO:$TAG
  - docker push $REPO
