language: java
jdk: openjdk8

install:
- git clone --depth=1 --branch=master https://github.com/servicecatalog/oscm-soap-mock.git
  servicecatalog/oscm-soap-mock
- cd servicecatalog/oscm-soap-mock
- mvn validate
- mvn install -f ./pom.xml
- cd ../..
